.page-header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 10px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, transparent);

  .page-title {
    font-size: 20px;
    margin-left: 12px;
    flex: 1;
  }

  .header-icon {
    cursor: pointer;
  }
}
