@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

body {
  margin: 0;
  font-family: "Titillium Web", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SCROLLBAR CSS CUSTOMIZATIONS */
/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
